body {
    margin: 0;
    width: 100%;
    width: 100vw;
    overflow-x: hidden;
    background-color: #171715;
    font-family: serif;
}

.container {
    padding: 2rem;
    max-width: 75ch;
    margin: auto;
}

p {
    color: #dadada;
    font-size: 1.1rem;
    /* font-family: 'Bitter', serif; */
    line-height: 1.6;
}

h1 {
    color: #eeeeee;
    /* font-family: 'DM Serif Display', serif; */
    font-size: 3.5rem;
    user-select: none;
}

.section-header {
    color: #eeeeee;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    color: #afafaf;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: italic;
    user-select: none;
}

header {
    margin: 1rem;  
    margin-left: 2rem; 
}

.header-text {
    color: #afafaf;
    font-weight: 400;
    font-size: 1.25rem;
    user-select: none;
}

hr {
    border: 1px solid #403e38;
}

::selection {
    background-color: #2e4f75;
}

::-moz-selection {
    background-color: #2e4f75;
}

::-webkit-scrollbar-thumb {
    background-color: #545149;
}

::-webkit-scrollbar-corner {
    background-color: #1d1c19;
}

::-webkit-scrollbar {
    background-color: #272622;
    color: #c5b59a;
}

canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #17171500; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
